<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-title size="large">Detail Teams</ion-title>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>

  <ion-list>
    <ion-item *ngFor="let team of teams">
      <ion-grid (click)="detailpage(team)">
        <ion-row>
          <ion-col class="ion-text-center" size="12" size-md="4">
            <img src="{{ team.strBadge }}" height="180px" alt="{{ team.strTeam }} Logo" />
          </ion-col>
          <ion-col class="ion-text-left" size="12" size-md="8">
            <h1 class="ion-30p">
              {{ team.strTeam }}<br />
              <small>{{ truncateText(team.strDescriptionEN, 30) }}</small>
            </h1>
            <ion-button (click)="detailpage(team)">Detail</ion-button>
            <!-- <ion-button (click)="save(team)">Favorite</ion-button> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>